backend/docs/make-workflow-orchestrator.import.localhost.json
{
  "name": "Integration Webhooks, Make AI Agents, JSON, HTTP (Localhost Fixed)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 2957274,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": -1060,
          "y": 552
        }
      }
    },
    {
      "id": 10,
      "module": "ai-local-agent:RunLocalAIAgent",
      "version": 0,
      "parameters": {
        "makeConnectionId": 7082764
      },
      "mapper": {
        "defaultModel": "gpt-5.4",
        "reasoningEffort": "low",
        "systemPrompt": "You are a workflow orchestrator for a maid agency platform.\r\n\r\nChoose exactly one workflow:\r\n- lead_scoring\r\n- inquiry_only\r\n- inquiry_match\r\n- contract_creation\r\n- schedule_creation\r\n- notification_only\r\n- validation_error\r\n- human_review\r\n\r\nYour job:\r\n- Read the input carefully.\r\n- Decide the single best workflow.\r\n- Copy the relevant input values into the payload.\r\n- Never invent IDs, names, dates, contact details, or records.\r\n- Return only valid JSON.\r\n- Do not use markdown.\r\n- Do not use code fences.\r\n- Do not explain anything outside the JSON.\r\n\r\nCritical decision rules:\r\n- If the message is about hiring a maid, recommending maids, shortlisting maids, or matching maids, choose inquiry_match.\r\n- If maidId is missing, empty, invalid, or null, never choose contract_creation.\r\n- If maidId is missing, empty, invalid, or null, never choose schedule_creation.\r\n- If employerId is missing, empty, invalid, or null, never choose contract_creation.\r\n- If employerId is missing, empty, invalid, or null, never choose schedule_creation.\r\n- If user role is guest, never choose contract_creation.\r\n- If user role is guest, never choose schedule_creation.\r\n\r\nUse contract_creation only when all are true:\r\n1. The user explicitly asks to create, generate, prepare, or draft a contract.\r\n2. employerId is present as a positive integer.\r\n3. maidId is present as a positive integer.\r\n4. User role is not guest.\r\n\r\nUse schedule_creation only when all are true:\r\n1. The user explicitly asks to schedule, book, arrange, or confirm an interview or appointment.\r\n2. employerId is present as a positive integer.\r\n3. maidId is present as a positive integer.\r\n4. scheduleDateTime is present and contains a full date-time value.\r\n5. User role is not guest.\r\n\r\nWorkflow rules:\r\n- Use lead_scoring for new leads, raw leads, or lead qualification requests.\r\n- Use inquiry_only for general inquiries that should be stored but do not require maid matching.\r\n- Use inquiry_match for hiring, recommendation, shortlist, or maid-matching requests.\r\n- Use notification_only only for delivery-only actions such as sending a message, email, SMS, WhatsApp, or internal notification.\r\n- Use validation_error if required fields are missing for the requested action.\r\n- Use human_review if the request is ambiguous, risky, policy-sensitive, or cannot be safely classified.\r\n\r\nValidation rules:\r\n- If the user wants contract generation but maidId or employerId is missing, choose validation_error.\r\n- If the user wants scheduling but maidId or employerId or scheduleDateTime is missing, choose validation_error.\r\n- Never use scheduleDate as a substitute for datetime.\r\n- payload.datetime must contain a real date-time string for schedule_creation, otherwise use validation_error.\r\n- If a field is unavailable, return null for nullable fields and empty string for string fields.\r\n\r\nIntent hints:\r\n- \"I want to hire a maid\" -> inquiry_match\r\n- \"recommend top 3 maids\" -> inquiry_match\r\n- \"shortlist maids\" -> inquiry_match\r\n- \"match me with a maid\" -> inquiry_match\r\n- \"generate contract for maid 25 and employer 9\" -> contract_creation if IDs are valid\r\n- \"book interview for maid 25 and employer 9 on 2026-05-10 10:00 AM\" -> schedule_creation if datetime is present\r\n- \"send this reminder to the employer\" -> notification_only\r\n\r\nField copy rules:\r\n- Copy customer name into payload.name\r\n- Copy customer contact into payload.contact\r\n- Copy message into payload.message exactly\r\n- Copy employerId into payload.employerId when it is a valid positive integer, otherwise null\r\n- Copy maidId into payload.maidId when it is a valid positive integer, otherwise null\r\n- Copy scheduleDateTime into payload.datetime when present as a full date-time value, otherwise null\r\n- Copy serviceType into payload.serviceType when present, otherwise \"\"\r\n- Copy location into payload.location when present, otherwise \"\"\r\n- Copy budgetText into payload.budgetText when present, otherwise \"\"\r\n- Copy scheduleDate into payload.scheduleDate when present, otherwise \"\"\r\n- Copy recipient into payload.recipient when present, otherwise \"\"\r\n- Copy notificationMessage into payload.notificationMessage when present, otherwise \"\"\r\n- Copy channel into payload.channel when present, otherwise \"\"\r\n\r\nOutput rules:\r\n- Return exactly one workflow.\r\n- Return valid JSON only.\r\n- Do not add extra keys.\r\n- Do not wrap JSON in markdown.\r\n- Do not include comments.\r\n\r\nReturn this exact structure:\r\n{\r\n  \"workflow\": \"\",\r\n  \"intent\": \"\",\r\n  \"requiresHuman\": false,\r\n  \"reason\": \"\",\r\n  \"payload\": {\r\n    \"source\": \"website\",\r\n    \"name\": \"\",\r\n    \"contact\": \"\",\r\n    \"message\": \"\",\r\n    \"employerId\": null,\r\n    \"maidId\": null,\r\n    \"datetime\": null,\r\n    \"serviceType\": \"\",\r\n    \"location\": \"\",\r\n    \"budgetText\": \"\",\r\n    \"scheduleDate\": \"\",\r\n    \"recipient\": \"\",\r\n    \"notificationMessage\": \"\",\r\n    \"channel\": \"\"\r\n  }\r\n}\r\n",
        "message": "Action: {{1.action}}\r\nUser role: {{ifempty(1.actor.role; \"guest\")}}\r\nUser id: {{ifempty(1.actor.id; \"\")}}\r\nCustomer name: {{ifempty(1.customer.name; \"\")}}\r\nCustomer contact: {{ifempty(1.customer.contact; \"\")}}\r\nMessage: {{ifempty(1.message; \"\")}}\r\nEmployer ID: {{ifempty(1.context.employerId; \"\")}}\r\nMaid ID: {{ifempty(1.context.maidId; \"\")}}\r\nSchedule datetime: {{ifempty(1.context.scheduleDateTime; \"\")}}\r\nService type: {{ifempty(1.context.serviceType; \"\")}}\r\nLocation: {{ifempty(1.context.location; \"\")}}\r\nBudget text: {{ifempty(1.context.budgetText; \"\")}}\r\nSchedule date: {{ifempty(1.context.scheduleDate; \"\")}}\r\nRecipient: {{ifempty(1.context.recipient; \"\")}}\r\nNotification message: {{ifempty(1.context.notificationMessage; \"\")}}\r\nChannel: {{ifempty(1.context.channel; \"\")}}\r\n",
        "files": [],
        "threadId": "{{1.customer.contact}}-{{ifempty(1.context.employerId; \"guest\")}}",
        "modelConfig": {
          "recursionLimit": 300,
          "iterationsFromHistoryCount": "10"
        },
        "timeout": "",
        "outputType": "text"
      },
      "metadata": {
        "designer": {
          "x": -698,
          "y": 545
        }
      },
      "tools": []
    },
    {
      "id": 12,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": 401353
      },
      "mapper": {
        "json": "{{10.response}}"
      },
      "metadata": {
        "designer": {
          "x": -374,
          "y": 549
        },
        "interface": [
          {
            "name": "workflow",
            "type": "text",
            "required": true
          },
          {
            "name": "intent",
            "type": "text",
            "required": true
          },
          {
            "name": "requiresHuman",
            "type": "boolean",
            "required": true
          },
          {
            "name": "reason",
            "type": "text",
            "required": true
          },
          {
            "name": "payload",
            "type": "collection",
            "required": false,
            "spec": [
              {
                "name": "source",
                "type": "text",
                "required": false
              },
              {
                "name": "name",
                "type": "text",
                "required": false
              },
              {
                "name": "contact",
                "type": "text",
                "required": false
              },
              {
                "name": "message",
                "type": "text",
                "required": false
              },
              {
                "name": "employerId",
                "type": "number",
                "required": false
              },
              {
                "name": "maidId",
                "type": "number",
                "required": false
              },
              {
                "name": "datetime",
                "type": "text",
                "required": false
              },
              {
                "name": "serviceType",
                "type": "text",
                "required": false
              },
              {
                "name": "location",
                "type": "text",
                "required": false
              },
              {
                "name": "budgetText",
                "type": "text",
                "required": false
              },
              {
                "name": "scheduleDate",
                "type": "text",
                "required": false
              },
              {
                "name": "recipient",
                "type": "text",
                "required": false
              },
              {
                "name": "notificationMessage",
                "type": "text",
                "required": false
              },
              {
                "name": "channel",
                "type": "text",
                "required": false
              }
            ]
          }
        ]
      }
    },
    {
      "id": 14,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": -74,
          "y": 549
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 15,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
              },
              "filter": {
                "name": "Inquiry Only",
                "conditions": [
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "inquiry_only"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "http://localhost:3000/api/inquiry",
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\r\n  \"name\": \"{{12.payload.name}}\",\r\n  \"contact\": \"{{12.payload.contact}}\",\r\n  \"message\": \"{{12.payload.message}}\"\r\n}"
              },
              "metadata": {
                "designer": {
                  "x": 226,
                  "y": -351
                }
              }
            },
            {
              "id": 28,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "{\r\n  \"ok\": true,\r\n  \"workflow\": \"{{12.workflow}}\",\r\n  \"reason\": \"{{12.reason}}\",\r\n  \"statusCode\": {{15.statusCode}}\r\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 526,
                  "y": -351
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 16,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
              },
              "filter": {
                "name": "Lead Scoring",
                "conditions": [
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "lead_scoring"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "http://localhost:3000/api/leads/raw",
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\r\n  \"source\": \"{{ifempty(12.payload.source; \"website\")}}\",\r\n  \"name\": \"{{12.payload.name}}\",\r\n  \"contact\": \"{{12.payload.contact}}\",\r\n  \"message\": \"{{12.payload.message}}\"\r\n}"
              },
              "metadata": {
                "designer": {
                  "x": 226,
                  "y": -51
                }
              }
            },
            {
              "id": 29,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "{\r\n  \"ok\": true,\r\n  \"workflow\": \"{{12.workflow}}\",\r\n  \"reason\": \"{{12.reason}}\",\r\n  \"statusCode\": {{16.statusCode}}\r\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 526,
                  "y": -51
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 20,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
              },
              "filter": {
                "name": "Inquiry Match",
                "conditions": [
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "inquiry_match"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "http://localhost:3000/api/match",
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\r\n  \"employerId\": {{ifempty(12.payload.employerId; null)}},\r\n  \"message\": \"{{12.payload.message}}\",\r\n  \"serviceType\": \"{{12.payload.serviceType}}\",\r\n  \"location\": \"{{12.payload.location}}\",\r\n  \"budget\": \"{{12.payload.budgetText}}\"\r\n}"
              },
              "metadata": {
                "designer": {
                  "x": 226,
                  "y": 249
                }
              }
            },
            {
              "id": 30,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "{\r\n  \"ok\": true,\r\n  \"workflow\": \"{{12.workflow}}\",\r\n  \"reason\": \"{{12.reason}}\",\r\n  \"statusCode\": {{20.statusCode}}\r\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 526,
                  "y": 249
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 21,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
              },
              "filter": {
                "name": "Contract Creation",
                "conditions": [
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "contract_creation"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "http://localhost:3000/api/contracts/generate",
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\r\n  \"maidId\": {{12.payload.maidId}},\r\n  \"employerId\": {{12.payload.employerId}},\r\n  \"serviceType\": \"{{12.payload.serviceType}}\",\r\n  \"location\": \"{{12.payload.location}}\",\r\n  \"budgetText\": \"{{12.payload.budgetText}}\",\r\n  \"scheduleDate\": \"{{12.payload.scheduleDate}}\"\r\n}"
              },
              "metadata": {
                "designer": {
                  "x": 233,
                  "y": 526
                }
              }
            },
            {
              "id": 31,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "{\r\n  \"ok\": true,\r\n  \"workflow\": \"{{12.workflow}}\",\r\n  \"reason\": \"{{12.reason}}\",\r\n  \"statusCode\": {{21.statusCode}}\r\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 555,
                  "y": 538
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 22,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
              },
              "filter": {
                "name": "Schedule Creation",
                "conditions": [
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "schedule_creation"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "http://localhost:3000/api/schedule",
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\r\n  \"maidId\": {{12.payload.maidId}},\r\n  \"employerId\": {{12.payload.employerId}},\r\n  \"datetime\": \"{{12.payload.datetime}}\"\r\n}"
              },
              "metadata": {
                "designer": {
                  "x": 226,
                  "y": 809
                }
              }
            },
            {
              "id": 32,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "{\r\n  \"ok\": true,\r\n  \"workflow\": \"{{12.workflow}}\",\r\n  \"reason\": \"{{12.reason}}\",\r\n  \"statusCode\": {{22.statusCode}}\r\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 567,
                  "y": 788
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 23,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
              },
              "filter": {
                "name": "Notification Only",
                "conditions": [
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "notification_only"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "http://localhost:3000/api/notify",
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\r\n  \"channel\": \"{{ifempty(12.payload.channel; \"internal\")}}\",\r\n  \"recipient\": \"{{12.payload.recipient}}\",\r\n  \"message\": \"{{12.payload.notificationMessage}}\",\r\n  \"referenceType\": \"workflow\",\r\n  \"referenceId\": \"\"\r\n}"
              },
              "metadata": {
                "designer": {
                  "x": 239,
                  "y": 1054
                }
              }
            },
            {
              "id": 33,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "{\r\n  \"ok\": true,\r\n  \"workflow\": \"{{12.workflow}}\",\r\n  \"reason\": \"{{12.reason}}\",\r\n  \"statusCode\": {{23.statusCode}}\r\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 547,
                  "y": 1054
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 27,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
              },
              "filter": {
                "name": "Human Review Or Validation Error",
                "conditions": [
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "human_review"
                    }
                  ],
                  [
                    {
                      "a": "{{12.workflow}}",
                      "o": "text:equal",
                      "b": "validation_error"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "http://localhost:3000/api/notify",
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\r\n  \"channel\": \"internal\",\r\n  \"recipient\": \"sales-team\",\r\n  \"message\": \"Human review required: {{12.reason}}\",\r\n  \"referenceType\": \"workflow\",\r\n  \"referenceId\": \"\"\r\n}"
              },
              "metadata": {
                "designer": {
                  "x": 249,
                  "y": 1385
                }
              }
            },
            {
              "id": 34,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "{\r\n  \"ok\": false,\r\n  \"workflow\": \"{{12.workflow}}\",\r\n  \"reason\": \"{{12.reason}}\",\r\n  \"statusCode\": {{27.statusCode}}\r\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 564,
                  "y": 1369
                }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  }
}
